
@import "tailwindcss";

body{
    background-color:#181818;
}

*{
    font-family:"Roboto",sans-serif;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;        /* 👈 arrow ka color */
  font-size: 20px;   /* 👈 arrow ka size */
}

